server:
  port: 80
spring:
  datasource:
    url: jdbc:mysql://www.sabercon.cn:3306/megumin?serverTimezone=Asia/Shanghai
    username: root
    password: ENC(z+RhuUIJkbiC1SvLB60veNQ7af5hmZk82EHLLErazaAJ/1u8Hsq25C0ByNmZJNFo)
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  data:
    mongodb:
      host: www.sabercon.cn
      port: 27017
      database: megumin
      username: root
      password: ENC(z+RhuUIJkbiC1SvLB60veNQ7af5hmZk82EHLLErazaAJ/1u8Hsq25C0ByNmZJNFo)
      authentication-database: admin
  redis:
    host: www.sabercon.cn
    port: 6379
  mail:
    host: smtp.qq.com
    username: 894876785@qq.com
    password: ENC(WleQPez6MeSpIctPLJBkd4n4H9yXlW1/xkVcewps8xy2NRcb+Amq6HLh9rndByyo1W6bPsiiAVEQiQCBdrZdKg==)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: true
logging:
  level:
    web: debug
    sql: debug
    cn.sabercon: debug
aliyun:
  access-key-id: LTAI4FzDsATrAw4weqWeMHdC
  access-key-secret: ENC(3UkqscJKB0jQYZZAWrPYmELH3JcwSLjQ2EGq4pCRR0BXtN34lseJHMkGigWmKZrAJMZH96aj2mIPZt4wJSsegA==)
  sms:
    sign-name: SaberCon
    template-code: SMS_175480786
  oss:
    endpoint: oss-cn-shenzhen.aliyuncs.com
    bucket: motto
    role-arn: acs:ram::1601562664794679:role/sabercon
    access-domain: http://oss.sabercon.cn
